@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        height: 80vh;
        background-image: linear-gradient(180deg, #a12e38 0%, #a12e38 50%, #6b6e77 50%);
        position: relative;
    }

    .rectangle-container {
        background-color: #494343;
        padding: 30px 30px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .button {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background-color: #a12e38;
        padding: 9px 25px;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
    }

        .button:hover {
            background-color: rgba(0,136,139,0.8);
            transform: scale(1.2,1.2);
        }

    li {
        display: inline;
    }
</style>
<div class="rectangle-container shadow">
    <div class="text-center square">
        <h2>
            Create an account or log into Negociantes. Build relationships and connect <br />
            with small scale businesses. Share and showcase your products
        </h2>
        <br />
        <ul style="list-style-type:none;">
            <li>
                <a class="button" asp-area="Identity" asp-page="/Account/Login">Log-In</a>
            </li>
            <li>
                <a class="button" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a class="button" asp-controller="Feedback" asp-action="Index">Forums</a>
            </li>
        </ul>
    </div>
</div>