@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card">
                    <article class="card-body">
                        <a class="float-right btn btn-outline-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                        <form id="account" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="float-right">Forgot your password?</a>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div>

                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
