
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size: 4rem" class="text-center">About Us</p>
<br />

<div class="row">

    <div class="col-lg-6">
        <img src="~/images/collab.jpg" style="max-width: 100%" />
        Source of image: https://elium.com/blog/5-reasons-collaboration-fails/
        <br />

    </div>

    <div style="font-size: 2rem" class="col-lg-6">
        Negociantes started from a group of students, connecting their own visions to a reality, where they want to bring action to the current crisis. <br />
    </div>

</div>

<br />
<br />

<div class="row">

    <p style="font-size: 2rem" class="col-lg-6">
        So we are building website where the people of the community can post and showcase their products and services which the members can see.<br />
    </p>

    <div class="col-lg-6">
        <img src="~/images/helphand.png" style="max-width: 100%" />
        Source of image: https://tinybuddha.com/blog/when-helping-someone-you-love-becomes-unhealthy/
        <br />
    </div>

</div>
